*{
    background-color: rgb(241, 242, 243);
    font-family: Montserrat-Light;
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../Montserrat-Light.ttf);
  }
  @font-face {
    font-family: Montserrat-Medium;
    src: url(..//Montserrat-Medium.ttf);
  }
  @font-face {
    font-family: Montserrat-Regular;
    src: url(..//Montserrat-Regular.ttf);
  }
  @font-face {
    font-family: Montserrat-SemiBold;
    src: url(..//Montserrat-SemiBold.ttf);
  }

.navigation{
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    padding: 20px 60px;
    display: flex;
}

.navigation-wrap{
    align-items: center;
    margin-right: -20px;
    display: flex;

}

.navigation-wrap > nav > a {
text-decoration: none;
transition: opacity .2s;
display: inline-block;
font-family: Montserrat-Medium;

}

.navigation-wrap > nav > a:hover {
    color: black;
  }
  
.navigation-wrap > nav > a:active {
    color: black;
  }

.navigation-items {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.nav-items {
    opacity: .6;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.logo-link {
    z-index: 1;

}

.w-brand {    
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
}

.w-text {
    vertical-align: top;
    color: #424242;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.w--current{
    opacity: 1;
    color: #1a1b1f;
    font-weight: 600;
}





.hero-image {
    position: relative;
    height: 500px;
    background-color: #000000;
    color: black;
  }
  
  .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
    background-color: white;  
    background-image: linear-gradient(to right, #F7F9FB , #F3F4F6); 
  }
  
  .heading-jumbo {
    font-size: 46px;
    text-align: center;
    line-height: 80px;
    background-image: linear-gradient(to right, #F7F9FB , #F3F4F6); 
  }
  
  .intro-bio{
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(to right, #F7F9FB , #F3F4F6); 
  }
  



h5{
    font-size: 20px;
    font-family: Montserrat-Medium;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;

}

.body {
    padding: 0;
    margin: 0;
}

.date-time{
    opacity: .5;
    color: rgb(68, 68, 68);
}

/* Projects Cards on Homepge */
.Parent {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}

.Parent > a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black
}
.child1 {
    width: 50%;
    height: auto;
    background-color: white;
    text-align: left;
    transition: background-color 1s ease;
}

.child1:hover {
        background-color: rgb(191, 191, 191);
      }

.child2 {
    width: 50%;
    height: auto;
}


.project-name {
    background-color: white;
    margin-top: 20%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 20px;
    font-size: 36px;
}
.project-bio {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
}

/* Footer */

.footer-wrap {
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    display: flex;
  }

.copyright {
    opacity: .5;
    color: rgb(68, 68, 68);
}

  .privacy-policy {
    opacity: .5;
    align-items: center;
    text-decoration: none;
    transition: opacity .4s;
    display: flex;
    color: rgb(68, 68, 68);
    }

  .privacy-policy:hover {
    opacity: 1;
  }
  
  .privacy-policy:active {
    opacity: .8;
  }

  .privacy-policy-icon {
    margin-top: -2px;
    margin-right: 8px;
    width: 15px;
  }
  
  .footer-links {
    justify-content: flex-start;
    align-items: center;
    margin-right: -20px;
    display: flex;
    position: static;
  }


  .footer-icon{
    width: 30px;
  }

/* About Page */

.about-section {
    height: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.about-intro-grid {
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    grid-template: ". ." / 1fr .5fr;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 140px;
}
.w-layout-grid {
    grid-auto-columns: 1fr;
    display: grid;
}

.hi-there-heading {
    margin-top: 10px;
    margin-bottom: 20px;
}
.paragraph-light {
    opacity: .6;
    color: #000;
    font-size: 16px;
    line-height: 28px;
    font-family: Montserrat-Regular;
}

img {
    display: block;
    max-width: 100%;
}

.hi-there-heading {
    font-size: 40px;
}

/* Universal to all Project Pages */

.project-heading {
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    font-size: 44px;

}

.section-heading {
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: Montserrat-Regular;
    font-size: 28px;
}

.section-subheading {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}

.project-content {
    margin-bottom: 0;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 0;
} 

.content {
    font-size: 16px;
    line-height: 28px;
    font-family: Montserrat-Regular;
}

/* Mobile Programming Project Page*/
.principle-heading {
    font-family: Montserrat-SemiBold;
}

.principles-grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}


.principle1 {
    width: 50%;
    height: auto;
    text-align: left;
    margin-right: 3%;
}

.principle2{
    width: 50%;
    height: auto;
}

.two-pg-grid{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.pg1 {
    margin-right: 1%;
    border: 1px solid #a7a4a4;
}
.pg2 {
    margin-left: 1%;
    border: 1px solid #a7a4a4;
}

.app-grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px; 
}


.app-pic1 {
    margin-right: 1%;
    border: 1px solid #a7a4a4;
}

.app-pic2 {
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid #a7a4a4;
}

.app-pic3 {
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid #a7a4a4;
}

.app-pic4 {
    margin-left: 1%;
    border: 1px solid #a7a4a4;
}

.three-pg-grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px; 
}

.three-pg-grid > .pg2 {
    margin-right: 1%;
}
.pg3{
    margin-left: 1%;
    border: 1px solid #a7a4a4;
}

/* Spotify Page */

.project-blurb{
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    font-family: Montserrat-Regular;
}

.button {
    justify-content: center;
    display: flex;
}

.skip-button{
    float: none;
    clear: none;
    background-color: #000;
    flex-flow: row;
    align-content: flex-end;
    justify-content: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 9px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 9px;
    display: inline-block;
    color: #fff;
    line-height: 40px;
    cursor: pointer;
}

.research-pic {
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-vision-grid{
    display: flex;
}

.vision1 {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    margin-right: 2.5%;
}

.vision2 {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.vision1 > img {
    width: 25%;
}
.vision2 > img {
    width: 25%;
}
.vision3 > img {
    width: 15%;
}
.vision3 {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    margin-left: 2.5%;
}

.vision-blurb {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    font-family: Montserrat-Regular;
}

.screens {
    margin-left: 10px;
    margin-bottom: 40px;
}
.screens-blurb {
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 28px;
    font-family: Montserrat-Regular;

}

.Pre-usability-video {
    width: 100%;
}



/* WYR Page */

.wireframe-heading{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
}


/* Insta Redesign Page */

.screen-grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.screen1 {
    width: 320%;
}

.screen-blurb{
    margin-top: 200px;

}

.screen-name {
    text-align: center;
}


/* Maynooth Furniture Page */

.persona-grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.persona1 {
    width: 15%;
    margin-right: 1%;
}

.persona-blurb{
    margin-top: 10px;
    margin-left: 1%;

}

.persona-name {
    text-align: center;
}

.wireframe-grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px; 
}

.wireframe1 {
    margin-right: 1%;
}

.wireframe2 {
    margin-right: 1%;
    margin-left: 1%;
}
.wireframe3{
    margin-left: 1%;

}


.elements-grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.element1 {
    width: 170%;
}

.element-blurb{
    margin-top: 130px;

}

.element-name {
    text-align: center;
}


/* Digital Closet Page */


.competitive-analysis-grid{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.competitor1 {
    width: 50%;
    margin-right: 1%;
}

.competitor-blurb{
    margin-top: 80px;
    margin-left: 1%;
}

.user-persona-grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.user-persona1 {
    width: 70%;
    margin-right: 1%;
}

.user-persona-blurb{
    margin-top: 10px;
    margin-left: 1%;

}

.user-persona-name {
    text-align: center;
}


.app-wireframe-grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px; 
}

.app-wireframe1 {
    margin-right: 1%;
}

.app-wireframe2 {
    margin-right: 1%;
    margin-left: 1%;
}
.app-wireframe3{
    margin-right: 1%;
    margin-left: 1%;

}
.app-wireframe4{
    margin-right: 1%;
    margin-left: 1%;

}
.app-wireframe5{
    margin-right: 1%;
    margin-left: 1%;

}
.app-wireframe6{
    margin-left: 1%;

}

.app-wireframe-heading{
    font-size: 18px;
    text-align: center;
}

.web-wireframe-grid {
    margin-bottom: 60px;
}


/* Contact Page*/
.section-heading-2{
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: Montserrat-Regular;
    font-size: 32px;
    text-align: center;
}

.content-2 {
    font-size: 16px;
    line-height: 28px;
    font-family: Montserrat-Regular;
    text-align: center;

}


.contact-grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
}

.contact-info1 {
    margin-right: 10%;
}

.contact-info2{
    margin-left: 10%;

}

.form-grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.form-block1{
    margin-right: 4%;
}

.form-block2{
    margin-left: 4%;
}

.contact-section-heading{
    text-align: center;
    margin-bottom: 20px;

}
